footer{ 
    display: webkit-flex;
     display: -moz-flex; 
     display: -ms-flex; display: -o-flex; 
     display: flex;
      flex-flow: row wrap; 
      padding: 50px;
       color: #fff;
        background-color: #077c39; 
    I 
    