* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(219, 223, 186);
}
img {
  width: 300px;
  border-radius: 3005px;
}

.menu-bar {
  background: rgb(0, 100, 0);

  text-align: center;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: white;
}
.menu-bar ul li {
  margin: 12px;
  padding: 20px;
  border-radius: 20px;
}
.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}
.active,
.menu-bar ul li a:hover {
  background: #26e600;
  margin: 12px;
  padding: 20px;
  border-radius: 20px;
}

h3 {
  font-weight: lighter;
  font-size: 24px;
}
.hi {
  text-align: justify;
  width: 30%;
  margin-left: 30%;
  font-weight: lighter;
 margin-top: 11%;
 font-size:  80%;
}
.p1{
  color: #52a840;
  margin-left: 30%;
  font-size: 300%;
  margin-top: 9%;
}
.s-home{
  background-color: rgb(168, 219, 155);
text-align: center;
  font-size: 400%;
  margin-top: 17%;
}
.gallery{
  align-items: center;
margin-top: 6%;
margin-left: 6%;
float:left;
width: 390px;
height: 20%;
}
 .skill1{
   text-align: justify;
  width: 80%;

 }
.sk2{
  margin-top: 30%;
}
.B1{
  background-color: rgb(168, 219, 155);
  text-align: center;
    font-size: 400%;
    margin-top: 70%;
}
.n2{
  margin-top: 30%;
}
.n3{
  margin-top: 60%;
}
.C1{
  background-color: rgb(168, 219, 155);
  text-align: center;
    font-size: 400%;
    margin-top: 100%;
}