body {
	background-color: rgb(219, 223, 186);
}
h1 {
	color: white;
	text-align: center;
}
.mukwano {
	background-color: dimgrey;
	margin-left: 500px;
	width: 30%;

	height: 70%;
	font-size: 18px;
}
#ibuto {
	color: white;
	background-color: brown;
	padding: 10px;
	margin-left: 110px;
}
#btn {
	margin-left: 10%;
}
input {
	margin-left: 13%;
	align-items: center;
}
#on {
	margin-top: 5%;
}
