/* Bordered form */
:root {
	--green: #1a9c03;
}
form {
	border: 1px solid #a08c8c;
	width: 400px;
	padding: 30px;
	border-radius: 20px;
}

.signin-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
	gap: 100px;
	flex-wrap: wrap;
}

/* Set a style for all buttons */
button {
	cursor: pointer;
	width: 40%;
	font-size: 20px;
	padding: 10px;
	border-radius: 20px;
}

/* Add a hover effect for buttons */
input[type="submit"]:hover {
	opacity: 0.6;
}
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
	width: 30%;
}

@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
}
.splash-img {
	width: 300px;
	margin-bottom: 30px;
	/* border-radius: 5px; */
}
.img,
.container {
	/* display: table-cell; */
	vertical-align: top;
}
.container {
	margin-right: 20px;
}

/* Just for demo */

.title {
	font-size: 24px;
	margin: 8px;
}

.signup-instead {
	box-shadow: 0px 0px 20px 1px rgb(218 218 218);
	padding: 20px;
}

.signup-button {
	padding: 10px 50px;
	border: 1px solid var(--green);
	display: block;
	border-radius: 20px;
	width: fit-content;
	text-decoration: none;
	color: var(--green);
}

.signup-button:hover {
	background-color: var(--green);
	color: white;
	transition: 0.7s;
}

.get-started {
	color: gray;
	margin: 10px auto;
}

#error {
	color: red;
	padding: 10px;
}
