#popupmessage {
  visibility: hidden; 
  min-width: 250px; 
  margin-left: -125px; 
  background-color: rgb(134, 182, 134); 
  color: #fff; 
  text-align: center; 
  border-radius: 2px;
  padding: 16px;
  position: fixed; 
  z-index: 1; 
  left: 50%;
  bottom: 30px; 
}


#popupmessage.show {
  visibility: visible; 

  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
@media screen and (max-width: 600px) {
	.col-25,
	.col-75,
	input[type="submit"] {
		width: 100%;
		margin-top: 0;
	}
	#phase1 {
		text-align: center;
		text-rendering: optimizeLegibility;
		text-align: justify;
	}
	img {
		padding: 100px;
		width: 300px;
		border-radius: 200px;
	}
	.container1{
		justify-content: center;
		flex-wrap: wrap;
	}
	.cards{
		display: flex;
		flex-wrap: wrap;
	}
} 
